.control-container .SingleDatePickerInput__withBorder {
    border: none;
}

.control-container .SingleDatePicker,
.control-container .SingleDatePicker > div,
.control-container .SingleDatePicker > div .SingleDatePickerInput,
.control-container .SingleDatePicker > div .DateInput {
    width: 100%;
}

.control-container .DateInput_input {
    font-size    : 16px;
    line-height  : 16px;
    padding      : 6px 8px;
    border       : 1px solid #dbdbdb;
    border-radius: 4px;
}

.control-container .Select-control {
    min-width: 250px;
}