#sidebar {
    height          : 100%;
    width           : 250px;
    position        : fixed;
    z-index         : 1;
    top             : 0;
    left            : 0;
    background-color: #000000;
    overflow-x      : hidden;
    transition      : 0.5s;
    padding-top     : 60px;
    margin-left     : -250px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    line-height: 50px;
}

#sidebar a {
    color          : #ffffff;
    text-decoration: none;
}

#sidebar a:hover {
    font-weight: bold;
}

#sidebar button.close-nav {
    font-size   : 40px;
    line-height : 40px;
    margin-left : auto;
    display     : block;
    margin-right: 15px;
}

#sidebar button.close-nav:hover {
    font-weight: bold;
}

#sidebar button.close-nav:hover,
#sidebar button.close-nav:focus,
#sidebar button.close-nav:active {
    outline: none;
}

#sidebar .logout-button {
    margin-left : 40px;
    display     : block;
    margin-right: 40px;
    width       : 170px;
}

#sidebar .logout-button i {
    font-size: 2.5em;
}

#overlay {
    display         : none;
    position        : fixed;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    background-color: rgba(0, 0, 0, .5);
    cursor          : pointer;
}