.bg-transparent {
    background-color: transparent !important;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-green {
    background-color: #D4E8D5;
}

.bg-beige {
    background-color: #F5F5DC;
}

.bg-blue {
    background-color: #D8EAFA;
}

.col-black {
    color: #000000;
}

.col-white {
    color: #FFFFFF;
}

.height-100vh {
    height: 100vh;
}

.min-250h {
    min-height: 250px;
}

.overlay {
    top   : 0;
    left  : 0;
    right : 0;
    bottom: 0;
}